# It's easy to add more libraries or choose different versions. Any libraries
# specified here will be installed and made available to your morph.io scraper.
# Find out more: https://morph.io/documentation/python

# Custom version of scraperwiki library
-e git+https://github.com/sensiblecodeio/scraperwiki-python.git@master#egg=scraperwiki

lxml==4.9.1
cssselect==0.9.1

# our requirements
beautifulsoup4==4.11.1
python-dateutil==2.8.2
